In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('GadgetX-NewMDCLUSTER_0001.snap_128.z0.000.AHF_mtree')

In [6]:
data.info

<bound method DataFrame.info of                       11727
0      128000000000001  122
1           127000000000001
2           127000000003809
3           127000000004372
4           127000000005881
...                     ...
23794       127000000026502
23795    128000000026569  1
23796       127000000025431
23797    128000000026570  1
23798       127000000026235

[23799 rows x 1 columns]>

In [5]:
data.head(124)

                    11727
0    128000000000001  122
1         127000000000001
2         127000000003809
3         127000000004372
4         127000000005881
..                    ...
119       127000000025484
120       127000000025492
121       127000000022633
122       127000000007258
123   128000000000002  23

[124 rows x 1 columns]